#movies-wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    Button {
        margin-bottom: 0.5rem;
        &:last-child {
            margin-bottom: 0rem;
        }

        display: flex;
        justify-content: space-between;
    }
    overflow-y: auto;
    max-height: 30vh;
}
.spin {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
